@import "styles/libraries/bootstrap";

@import "styles/variables-custom-properties";

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

// components %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

// atoms -----------------------------------------------------------------------

// molecules -------------------------------------------------------------------

// organisms -------------------------------------------------------------------

// templates -------------------------------------------------------------------

// pages -----------------------------------------------------------------------
@import "styles/components/pages/home";
